@import '../../assets/scss/main';

.title_text {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  min-height: 170px;
}

.body_text {
  font-size: 45px;
  font-weight: bold;
}

.footer_text {
  font-size: 25px;
  font-weight: bold;
}

.card_wrapper {
  min-width: 49%;
}

.filter_wrapper {
  margin: 50px 0px;
}

// .intro_wrapper {
//   height: 400px;
//   padding: 50px;
// }

input {
  max-width: 200px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error_image {
  width: 750px;
}

.button {
  background: #00cc00;
  color: #fff;
  box-shadow: 0 6px #00b300;
  border-style: none;
  padding: 25px;
  display: inline-block;
  margin: 50px 0px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button:focus {
  outline: 0;
}

.button:hover {
  box-shadow: 0 4px #00b300;
  top: 2px;
}

.button:active {
  box-shadow: 0 0 #00b300;
  top: 6px;
}

mat-toolbar {
  top: 0;
  position: fixed;
}
