@import '../../assets/scss/main';

.title_text {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  min-height: 170px;
}

.body_text {
  font-size: 45px;
  font-weight: bold;
}

.footer_text {
  font-size: 25px;
  font-weight: bold;
}

.card_wrapper {
  min-width: 49%;
}

.intro_wrapper {
  height: 400px;
  padding: 50px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
  top: 0;
  position: fixed;
}
