<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="_flex _space_between" fxFlex="100%">
      <div class="title_text">APPCOLOR</div>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<div class="_flex _flex_align_item_center _justify_center">
  <p class="_flex_col title_text">
    SCROLL THROUGH TO FIND THE COLOURS USED BY
    <span id="typed"></span>
  </p>
</div>

<div class="_flex_col _justify_center intro_wrapper">

  <div class="_flex _space_evenly filter_wrapper">
    <div class="_flex_col _flex_align_item_start">
      <div class="body_text">SEARCH</div>
      <input [(ngModel)]="searchText" placeholder="Search logos" />
    </div>

    <div class="_flex_col _flex_align_item_start">
      <div class="body_text">FILTER</div>
      <input [(colorPicker)]="color" [style.background]="color" [value]="color" [cpOKButton]="true"
        [cpCancelButton]="true" [cpCancelButtonText]="'CLEAR'" (colorPickerSelect)="onColorPickChange($event)" />
    </div>

    <div class="_flex_col _flex_align_item_start">
      <div class="body_text">SORT BY</div>
      <mat-form-field>
        <select matNativeControl (change)="onFilterChange($event.target.value)">
          <option value="atoz">Sort Icons (A-Z)</option>
          <option value="ztoa">Sort Icons (Z-A)</option>
        </select>
      </mat-form-field>
    </div>

    <div class="_flex_col _flex_align_item_start">
      <div class="body_text">CATEGORY</div>
      <div class="_flex" *ngFor="let category of logoCategories">
        <mat-checkbox (change)="onChangeCategory(category.name)">{{category.name}}</mat-checkbox>
      </div>
    </div>
  </div>

</div>

<div class="_flex _flex_wrap _justify_center">
  <!-- <div *ngIf="(appIcons | logoFilter: searchText).length === 0">
  <div class="_flex _flex_align_item_center">
    <div>
      <img src="../../assets/images/clip-programming.png" class="error_image">
    </div>
    <div class="_flex_col">
      <span class="body_text">SORRY, WE COULDN'T FIND '{{searchText}}' <br> CLICK THIS BUTTON AND WE'LL ADD IT <br> (I
        PROMISE)</span>
      <div>
        <button class="button" (click)="onClickAddLogo()">ADD {{searchText}}</button>
      </div>
    </div>
  </div>
  </div> -->
  <span *ngFor="let app of appIcons " class="card_wrapper">
    <app-icon-card [app]="app"></app-icon-card>
  </span>
</div>

<div class="_flex _justify_center">
  <span class="footer_text">Made with 💖 by Beckham give credit to icons8</span>
</div>
