<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="_flex _space_between" fxFlex="100%">
      <div class="title_text">APPCOLOR</div>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<div class="_flex_col _justify_center intro_wrapper">
  <div class="_flex _flex_align_item_center _justify_center">
    <p class="_flex_col title_text">
      SCROLL THROUGH TO FIND THE COLOURS USED BY 
      <span id="typed"></span>
    </p>
    
  </div>
  <div class="_flex _space_evenly">

    <div class="_flex_col _flex_align_item_start">
      <div class="body_text">SEARCH</div>
      <input [(ngModel)]="searchText" placeholder="Search logos" />
    </div>

    <div class="_flex_col _flex_align_item_start">
      <div class="body_text">FILTER</div>
      <input [(colorPicker)]="color" [style.background]="color" [value]="color" [cpOKButton]="true" (colorPickerSelect)="onColorPickChange($event)"/>
    </div>

    <div class="_flex_col _flex_align_item_start">
      <div class="body_text">SORT BY</div>
      <mat-form-field>
        <select matNativeControl (change)="onFilterChange($event.target.value)">
          <option value="atoz">Sort Icons (A-Z)</option>
          <option value="ztoa">Sort Icons (Z-A)</option>
        </select>
      </mat-form-field>
    </div>

    <div class="_flex_col _flex_align_item_start">
      <div class="body_text">CATEGORY</div>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>

  </div>
</div>

<div class="_flex _flex_wrap _justify_center">
  <span *ngFor="let app of appIcons | logoFilter: searchText" class="card_wrapper">
    <app-icon-card [app]="app"></app-icon-card>
  </span>
</div>

<div class="_flex _justify_center">
  <span class="footer_text">Made with 💖 by Beckham</span>
</div>
