<div class="icon_border">

  <div class="_flex">
    <div class="_flex_col _justify_center" fxFlex="50%">
      <div class="_flex _justify_center">
        <img src="../../../assets/images/{{app.img}}">
      </div>
      <div class="icon_title_text">{{ app.name | uppercase }}</div>
    </div>

    <div class="_flex_col" fxFlex="50%">
      <div *ngFor="let appColor of app?.colours" class="_flex _flex_align_item_center color_element">
        <div [ngStyle]="{'background-color': appColor?.hex}">
          <div class="color_box"></div>
        </div>
        <div class="_flex_col color_text">
          <div>HEX: {{ appColor?.hex }} </div>
          <div>RGB: {{ appColor?.rgb }} </div>
          <div>CMYK: {{ appColor?.cmyk }} </div>
        </div>
      </div>
    </div>

  </div>
</div>
