<div class="icon_border">

  <div class="_flex">
    <div class="_flex_col _flex_align_item_start" fxFlex="50%">
      <div class="_flex">
        <div class="_flex _flex_align_item_center _justify_center image_wrapper">
          <img src="../../../assets/images/{{app.img}}">
        </div>
      </div>
      <div class="icon_title_text">{{ app.name | uppercase }}</div>
    </div>

    <div class="_flex_col logo_colour_wrapper" fxFlex="50%">
      <div *ngFor="let appColor of app?.colours" class="_flex _flex_align_item_center color_element">
        <div [ngStyle]="{'background-color': appColor?.hex}" class="color_box" [cdkCopyToClipboard]="appColor?.hex"
          tippyPopup [toolTipText]="appColor?.hex"></div>
        <div class="_flex_col">
          <div class="color_text" [cdkCopyToClipboard]="appColor?.hex">
            HEX: <span tippyPopup [toolTipText]="appColor?.hex">{{ appColor?.hex | uppercase }}</span> </div>
          <div class="color_text" [cdkCopyToClipboard]="appColor?.rgb">
            RGB: <span tippyPopup [toolTipText]="appColor?.rgb">{{ appColor?.rgb }} </span> </div>
          <div class="color_text" [cdkCopyToClipboard]="appColor?.cmyk">
            CMYK: <span tippyPopup [toolTipText]="appColor?.cmyk">{{ appColor?.cmyk }}</span> </div>
        </div>
      </div>
    </div>

  </div>
</div>
