@import '../../../assets/scss/main';

.icon_border {
  height: auto;
  min-height: 356px;
  background: white;
  margin: 10px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 3px 3px 10px #cccccc;
}

.icon_title_text {
  font-size: 40px;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.image_wrapper {
  height: 290px;
  width: 290px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #cccccc;
  padding: 20px;
}

img {
  width: 250px;
}

.color_element {
  margin-bottom: 10px;
}

.color_box {
  width: 9vw;
  height: 100px;
  min-width: 100px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 3px 12px #cccccc;
}

.logo_colour_wrapper {
  max-height: 340px;
  overflow: auto;
}

.color_text {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0px 5px 10px;

  span {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1690px) {
  .image_wrapper {
    width: 200px;
    height: 200px;
  }

  img {
    width: 200px;
  }
}
