<div class="icon_border">

  <div class="_flex">
    <div class="_flex_col _justify_center" fxFlex="50%">
      <div class="_flex _justify_center">
          <img src="../../../assets/images/messenger.png">
      </div>

      <div class="icon_title_text">MESSENGER</div>
    </div>

    <div class="_flex_col" fxFlex="50%">
      <div class="_flex _flex_align_item_center color_element">
        <div class="color_box"></div>
        <div class="_flex_col color_text">
          <div>HEX:</div>
          <div>RGB: </div>
        </div>

      </div>
      <div class="color_element">
        <div class="color_box"></div>
      </div>
      <div class="color_element">
        <div class="color_box"></div>
      </div>

    </div>
  </div>


</div>
