@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale-subtle.css';
@import 'tippy.js/animations/scale.css';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #f7f9fa;
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
