@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale-subtle.css';
@import 'tippy.js/animations/scale.css';

html,
body {
  height: 100%;
}

body {
  //background: #121212;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
